*{
	margin: 0;
	padding: 0;
	font-family: tahoma, arial, sans-serif, 'lucida grande';
}
a{
	text-decoration: none;
	color: #696969;
}
a:hover, a:hover p{
	color: #818753;
}
.container{
	width: 1200px;
	margin: auto;
}
.menu{
	margin-top: 30px;
	margin-bottom: 20px;
	text-align: center;
}	
.menu ul li{
	display: inline-block;
	padding: 10px 20px;
	font-size: 20px;
}
.menu img{
	width: 190px;
	height: 150px;
	margin: -10px 35px -70px 35px;
}


.slice{
	margin-top:70px;
	position: relative;
}
.slice .left{
	position: absolute;
	left: 75px;
	top: 300px;
	width: 400px;
	color: #000000;
}
.slice .left h2{
	font-size: 80px;
}
.slice .left p{
	font-size: 20px;
	margin: 20px 0px 40px 0px;
}
.slice .right{
	bottom: 50px;
	right: 30px;
	position: absolute;
	font-size: 30px;
	cursor: pointer;
}
.btn{
	padding: 15px 50px;
	background-color: skyblue;
	border-radius: 30px;
	border: none;
	font-size: 18px;
	text-transform: uppercase;
	cursor: pointer; 

}
.btn:hover{
	background-color: #48D1CC;
}
.move{
	background-color:rgba(0, 0, 0, 0);
	margin-right: 20px;	
}
.move:hover{
	color:#D3D3D3;
}


.banner{
	margin-top: 20px;
	height: 750px;
}
.banner-left{
	width: 680px;
	height: 660px;
	margin-right: 20px;
	float: left;
	background-size: cover;
	position: relative;
}
.top .banner-left{
		background-image: url('../images/banner1.jpg');
}
.banner-right{
	width: 500px;
	height: 720px;
	float: left;
	background-size: cover;
	position: relative;
}
.top .banner-right{
	background-image: url('../images/banner3.jpg');
}
.top .banner-left .left1{
	position: absolute;
	left: 300px;
	bottom: 75px;
	font-size: 60px;
}
.top .banner-left .left2{
	position: absolute;
	left: 300px;
	bottom: 50px;
	font-size: 20px;
}
.top .banner-right .right1{
	position: absolute;
	left: 30px;
	bottom: 400px;
	font-size: 60px;
}
.top .banner-right .right2{
	position: absolute;
	left: 30px;
	bottom: 350px;
	font-size: 20px;
}


.content{
	height: 550px;
}
#title{
	font-size: 50px;
}
.product-item{
	list-style-type: none;	
  	margin: 0;
  	padding: 0;
}
.item{	
	display: inline-block;	
	float: left;
	margin-left: 20px;	
}
.product-img img{
	width: 280px;
	height: auto;
}
.product-detail > h4, .product-detail > p{
	text-align: center;	
	font-size: 20px;	
}
.product-detail .btn{
	margin-left: 80px;
	margin-top: 10px;
	padding: 5px 20px;
}


.bottom .banner-left{
	background-image: url('../images/banner4.jpeg');
}
.bottom .banner-right{
	background-image: url('../images/banner5.jpeg');
}
.bottom .banner-left .left1{
	position: absolute;
	left: 60px;
	top: 30px;
	font-size: 65px;
}
.bottom .banner-left .left2{
	position: absolute;
	left: 60px;
	top: 170px;
	font-size: 25px;
}
.bottom .banner-right .right1{
	position: absolute;
	left: 30px;
	bottom: 50px;
	font-size: 65px;
}
.bottom .banner-right .right2{
	position: absolute;
	left: 30px;
	bottom: 20px;
	font-size: 25px;
}


.footer .about{
	width: 500px;
	float: left;
}
.footer .about a{
	width: 100px;
	height: 80px;
	margin-right: 20px;
	margin-top: 20px;
	float: left;
}
.footer .about p{
	width: 350px;
	margin-top: 20px;
	float: left;
	font-size: 16px;
	color: #696969;
}
.footer .about img{
	width: 100px;
	height: 80px;
}
.footer .contact{
	width: 300px;
	float: left;
}
.footer .contact p{
	margin-top: 20px;
	font-size: 16px;
	color: #696969;
}
.footer .contact span{
	font-size: 20px;
	font-weight: bold;
}
.footer .link{
	width: 400px;
	margin-top: 50px;
	float: left;
	font-size: 16px;
	color: #696969;
}



